@mixin color-vars {
	--surface-light: rgb(0 111 164);
	--surface-light-active: #00e5ff;
	--surface-dark: #0b2564;
	--color-link: #00b6ff;

	--menu-container: hsl(0deg 0% 0% / 60%);
	--menu-shadow: 0 1px 3px 1px hsl(0deg 0% 0% / 70%);

	--selected-shadow: 0px 0px 0px 1px rgb(0, 200, 255) inset,
		0px 0px 90px 0px rgba(0, 180, 255, 0.8) inset;

	--separator: rgba(255, 255, 255, 0.1);

	--scrollbar-gradient: linear-gradient(
		180deg,
		hsl(192, 77%, 31%) 0%,
		hsl(188, 100%, 50%) 50%,
		hsl(192, 77%, 31%) 100%
	);
	--scrollbar-hover: linear-gradient(
		180deg,
		hsl(192, 77%, 26%) 0%,
		hsl(188, 100%, 30%) 50%,
		hsl(192, 77%, 26%) 100%
	);

	--message-container-border: #0f759b;
	--message-container-background: rgba(22, 201, 251, 0.2);

	--btn-select-accent: hsl(199 100% 53% / 1);
	--btn-select-bg: rgb(0 57 136);
}