@mixin color-vars {
	--surface-light: hsl(199 100 32);
	--surface-light-active: hsl(186 100 50);
	--surface-dark: hsl(222 80 22);
	--color-link: hsl(197 100 50);

	--text-color: hsl(0 0 91);
	--text-muted: hsl(0 0 74);

	--menu-container: hsl(0 0 0 / 60%);
	--menu-shadow: 0 1px 3px 1px hsl(0 0 0 / 70%);

	--selected-shadow: 0 0 0 1px hsl(193 100 50) inset,
		0 0 90px 0 hsl(198 100 50 / 80%) inset;

	--separator: rgb(255 255 255 / 10%);

	--scrollbar-gradient: linear-gradient(
		180deg,
		hsl(192 77% 31%) 0%,
		hsl(188 100% 50%) 50%,
		hsl(192 77% 31%) 100%
	);
	--scrollbar-hover: linear-gradient(
		180deg,
		hsl(192 77% 26%) 0%,
		hsl(188 100% 30%) 50%,
		hsl(192 77% 26%) 100%
	);

	--message-container-border: hsl(196 82 33);
	--message-container-background: rgb(22 201 251 / 20%);

	--btn-select-accent: hsl(199 100 53);
	--btn-select-bg: hsl(215 100 27);

	--btn-title-menu-bg: linear-gradient(180deg, hsl(184 100 53), hsl(207 100 26));
	--btn-title-menu-shadow: hsla(205 100 50 / 52%);

	--page-title: linear-gradient(180deg, hsl(201 36 71) 0%, hsl(195 60 65) 100%);

	--placeholder: hsl(205 100 26);
	--attention: hsl(219 100 50);
	--off-color: hsl(0 100 56);
}