@use "fonts.scss";
@use "colors.scss";

:root {
	--page-width: max(1520px, 60%);

	@include colors.color-vars;
}

html, body {
	overscroll-behavior: none;
	user-select: none;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	font-style: italic;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

a {
	font-weight: 500;
	color: var(--color-link);
	text-decoration: inherit;

	&:hover {
		text-decoration: underline;
	}
}

button {
	all: unset;
	user-select: none;
	box-sizing: border-box;

	&:hover {
		cursor: pointer;
	}
}

// not touch devices
@media (hover: hover) and (pointer: fine) {
	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	*::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-image: var(--scrollbar-gradient);

		&:hover {
			background-image: var(--scrollbar-hover);
		}
	}
	*::-webkit-scrollbar-corner {
		background: transparent;
	}
}