@mixin hover-scale($prefix, $scale: 1.05) {
	animation: #{$prefix}-scale-up-down infinite 1.6s;

	@keyframes #{$prefix}-scale-up-down {
		0%, 100% {
			transform: scale(1);
		}
		50% {
			transform: scale(#{$scale});
		}
	}
}

@mixin active-shadow {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		corner-shape: inherit;
		transition: .2s;
	}

	&:hover, &:focus {
		cursor: pointer;
		outline-color: transparent;
		&::after {
			box-shadow: var(--selected-shadow);
		}
	}
}

@mixin page-container {
	--page-padding: 1rem;
	max-width: var(--page-width);
	margin-inline: auto;
	height: 100%;
	width: 100%;
	min-width: 0;
	min-height: 0;
}

@mixin mobile-portrait {
	@media screen and (orientation: portrait) and (max-width: 760px) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (orientation: landscape) and (max-height: 680px) {
		@content;
	}
}