.btn {
	display: inline-flex;
	align-items: center;
	gap: 6px;

	&:disabled {
		pointer-events: none;
	}
}

.btnVariantDefault {
	justify-content: center;
	color: var(--text-color);
	padding: .3rem .8rem;
	transition: 0.2s;

	&:hover,
	&:focus-visible {
		box-shadow: var(--selected-shadow);
		text-decoration: none;
	}
}

.btnVariantElevation {
	justify-content: center;
	color: var(--text-color);
	padding: 0.3em 2em;
	background-color: var(--menu-container);
	box-shadow: var(--menu-shadow);
	transition: 0.2s;

	&:hover,
	&:focus-visible {
		box-shadow: var(--selected-shadow);
		text-decoration: none;
	}
}

.btnVariantCorner {
	justify-content: center;
	padding: .3rem .8rem;
	background-color: transparent;
	position: relative;
	transition: box-shadow .2s ease-in-out;
	border-radius: 3px;
	overflow: hidden;

	&::before, &::after {
		content: "";
		position: absolute;
		width: 20%;
		height: 10%;
		border: 20px solid transparent;
		transition: width .2s ease-in-out, height .2s ease-in-out;
		pointer-events: none;
	}
	&::before {
		top: 0;
		left: 0;
	}
	&::after {
		bottom: 0;
		right: 0;
	}

	&.active, &:hover, &:focus-visible {
		--border-color: hsl(199 100% 53% / 1);
		--shadow-color: rgb(0 57 136);
		box-shadow: 0px 0px 90px 0px var(--shadow-color) inset;

		&::before, &::after {
			width: 70%;
			height: 30%;
		}
		&::before {
			border-top: 1px solid var(--border-color);
			border-left: 1px solid var(--border-color);
			border-top-left-radius: 3px;
		}

		&::after {
			border-bottom: 1px solid var(--border-color);
			border-right: 1px solid var(--border-color);
			border-bottom-right-radius: 3px;
		}
	}
	&.active:focus-visible {
		--border-color: #fff;
	}
	&:disabled {
		--border-color: var(--text-color);
		--shadow-color: rgba(255, 255, 255, 0.2);
		opacity: 0.8;
	}
}

.btnVariantUnderlineLeft {
	text-align: left;
	color: var(--text-color);
	transition: var(--transition);
	display: inline-flex;
	position: relative;
	padding: 2px 6px;
	letter-spacing: 1px;
	--text-shadow: 1px 0 5px rgb(14 79 187), 1px 0 6px rgba(28, 147, 147, 0.5);
	--underline: linear-gradient(to right, rgb(0 197 255) 75%, rgba(10, 158, 171, 0));

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 40%;
		height: 2px;
		transition: var(--transition);
		transition-delay: 0.1s;
		opacity: 0.1;
	}

	&:hover, &:focus-visible {
		color: var(--surface-light-active);
		text-shadow: var(--text-color);

		&::after {
			width: 90%;
			background-image: var(--underline);
			opacity: 1;
		}
	}
}