:root {
  --safe-area-max-inset-bottom: env(safe-area-max-inset-bottom, 36px);
}

.footer {
    margin-top: auto;
    min-height: 40px;
    width: 100%;
    background: rgb(0 35 115);
    padding: 0 1em;
    padding-bottom: var(--safe-area-max-inset-bottom);
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 2px #00000059;
    z-index: 2;
}
.footerContent {
    width: var(--page-width);
    margin: 4px auto;
}