.footer {
  margin-top: auto;
  min-height: 60px;
  width: 100%;
  background: var(--surface-dark);
  border-top: 2px solid var(--separator);
  padding: 0.2em 1em 0 1em;
  padding-bottom: var(--safe-area-max-inset-bottom);
  display: flex;
  z-index: 10;
  position: relative;
  isolation: isolate;
}
.footerContent {
  width: var(--page-width);
  margin: 4px auto;
}