.pageContent {
	--page-padding: .8rem;
	max-width: var(--page-width);
	margin-inline: auto;
	padding-block: var(--page-padding);
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.pageTitle {
	padding-inline: var(--page-padding);
	font-size: clamp(2.1rem, 4.8vmin, 2.8rem);
	letter-spacing: -1px;
	margin-block: 0;
	font-family: "Times New Roman", "Times-Roman", serif;
	font-weight: 700;
	background: linear-gradient(180deg, #99bccf 0%, #71c1dc 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	grid-area: page-title;
}
.content {
	grid-area: content;
	display: flex;
	min-height: 0;
}
.backButton {
	grid-area: back-button;
	align-self: flex-start;
}

.pageTabsLayout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"page-title"
		"tabs"
		"content"
		"back-button";
	grid-template-rows: auto auto 1fr auto;

	.pageTitle {
		margin-bottom: 0.2em;
	}

	@media screen and (orientation: landscape) and (max-height: 680px) {
		grid-template-columns: 180px 1fr;
		grid-template-areas:
				"page-title content"
				"tabs content"
				"back-button content";
		grid-template-rows: auto 1fr auto;
	}
	@media screen and (max-width: 760px) and (orientation: portrait) {
		grid-template-areas:
			"tabs tabs"
			"content content"
			"back-button page-title";
		grid-template-columns: 1fr min-content;
		grid-template-rows: auto 3fr min-content;
		.pageTitle {
			margin-bottom: 0;
		}
	}
}

.pageSection {
	padding-inline: var(--page-padding);
	padding-block: .9rem;
	border-block: 2px solid var(--separator);
	position: relative;
	flex-grow: 1;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
	scroll-behavior: smooth;
}