@use './mixins' as *;

.pageContent {
	@include page-container;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.pageTitle {
	padding-inline: var(--page-padding);
	font-size: 3rem;
	letter-spacing: -1px;
	margin-block: 0;
	font-family: "Times New Roman", "Times-Roman", serif;
	font-weight: 500;
	white-space: nowrap;
	grid-area: page-title;
	width: fit-content;
	text-shadow: 0 0 14px var(--btn-title-menu-shadow);
}
.content {
	grid-area: content;
	display: flex;
	min-height: 0;
	min-width: 0;
}
.navigation {
	grid-area: navigation;
	min-width: 0;
	margin-top: var(--page-padding);

	> :global(.tabs) {
		width: 100%;
	}
}
.secondary {
	grid-area: secondary;
	display: flex;
	min-width: 0;
	min-height: 0;

	> * {
		flex: 1;
		min-width: 0;
		min-height: 0;
	}
}
.actions {
	grid-area: actions;
	display: flex;
	align-items: flex-start;
	align-self: flex-start;
	width: 100%;
	padding: .5rem;
	padding-bottom: calc(1.5rem + var(--safe-area-max-inset-bottom));
}

.pageLayout {
	display: grid;

	.pageTitle {
		margin-top: var(--page-padding);
	}

	@include mobile-landscape {
		.pageTitle,
		.navigation {
			margin-top: 0;
		}
	}

	@include mobile-portrait {
		.pageTitle {
			margin-top: 0;
		}
	}
}

.tabsLayout {
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"page-title navigation"
		"content content"
		"actions actions";
	grid-template-rows: auto 1fr auto;

	@include mobile-landscape {
		grid-template-columns: 180px 1fr;
		grid-template-areas:
				"page-title content"
				"navigation content"
				"actions content";
		grid-template-rows: auto 1fr auto;
	}
	@include mobile-portrait {
		grid-template-areas:
			"navigation navigation"
			"content content"
			"actions page-title";
		grid-template-columns: 1fr min-content;
		grid-template-rows: auto 3fr min-content;
	}
}

.masterDetailLayout {
	grid-template-areas:
		"page-title page-title"
		"content secondary"
		"actions actions";
	grid-template-columns: 3fr minmax(280px, 1fr);
	grid-template-rows: min-content 1fr min-content;

	@include mobile-landscape {
		grid-template-columns: 264px 1fr;
		grid-template-areas:
			"page-title content"
			"secondary content"
			"actions content";
	}

	@include mobile-portrait {
		grid-template-areas:
			"secondary secondary"
			"content content"
			"actions page-title";
		grid-template-columns: 1fr min-content;
		grid-template-rows: minmax(160px, 2fr) 5fr min-content;
	}
}

.pageSection {
	padding-inline: var(--page-padding);
	padding-block: .9rem;
	border-block: 2px solid var(--separator);
	position: relative;
	flex-grow: 1;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
	scroll-behavior: smooth;
}