/* Overlay */
.overlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	z-index: 100;
	backdrop-filter: blur(1px);
}
.modal {
	background-image: linear-gradient(53deg, #00145f, #00000000), radial-gradient(#0750fd, #01275b);
	flex: 1;
	max-width: 880px;
	width: 100%;
	align-self: center;
	border-radius: 3px;
	min-height: min(100%, 54vh);
	margin: 0.5rem;
	padding: 2em;
	border: 1px solid #00628b;
	max-height: 80vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	outline: none;
	position: relative;
	isolation: isolate;
	font-size: 1.1em;
}