/* Overlay */
.overlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	z-index: 100;
	backdrop-filter: blur(1px);
}
.modal {
	background-image: linear-gradient(53deg, #00145f, #00000000), radial-gradient(#0750fd, #01275b);
	flex: 1;
	max-width: 880px;
	width: 100%;
	align-self: center;
	border-radius: 3px;
	min-height: min(100%, 54vh);
	margin: 0.5rem;
	padding: 2em;
	border: 1px solid var(--active);
	max-height: 80vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	outline: none;
	position: relative;
	isolation: isolate;
	font-size: 1.1em;
}

.prompt {
	// beautiful red #760101
	--prompt-color: #012f76;
	align-self: center;
	margin: 1em;
	width: min(500px, 100%);
	display: grid;
	text-align: center;
	text-wrap: balance;
	user-select: none;
	font-size: 1.1em;

	&:focus-visible {
		outline: none;
	}

	.promptModal {
		background-color: var(--prompt-color);
		box-shadow: 0 0 1em hsl(0deg 0% 0% / 60%);
		display: grid;
		grid-template-rows: 1fr auto;
	}

	.body {
		padding-inline: min(3em, 3vmin);
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: hsl(0deg 0% 0% / 50%);
		font-size: 1.04em;
		line-height: 1.5;
	}

	.buttons {
		display: grid;
		grid-template-columns: 1fr 1px 1fr;
		font-size: 1.2em;

		&:not(:has(.separator)) {
			grid-template-columns: 1fr;
		}

		& > button {
			padding-block: .6em;
		}
		.separator {
			width: 1px;
			height: 60%;
			background-color: var(--separator);
			align-self: center;
		}
	}
}