.modal {
	position: fixed; 
	inset: 0;

	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	color: inherit;
	background-color: var(--surface-dark);
	border-radius: 3px;
	border: 1px solid var(--surface-light);
	max-width: 880px;
	width: calc(100% - 1em);
	min-height: min(100%, 54vh);
	max-height: 80vh;
	padding: 2em;
	overflow-y: auto;
	outline: none;
	isolation: isolate;
	font-size: 1.1rem;

	opacity: 0;
	transition: opacity 0.2s ease, transform 0.2s ease;

	&[open] {
		opacity: 1;
		pointer-events: auto;
		animation: fadeIn 0.2s ease forwards;

		&::backdrop {
			animation: fadeIn 0.2s ease forwards;
		}
	}

	&.isClosing {
		animation: fadeOut 0.2s ease forwards;
		&::backdrop {
			animation: fadeOut 0.2s ease forwards;
		}
	}

	&::backdrop {
		background: transparent;
		backdrop-filter: blur(1px);
		opacity: 0;
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}


.prompt {
	--prompt-color: #012f76;
	padding: 0;
	border: none;
	width: min(500px, 100%);
	min-height: unset;
	text-align: center;
	text-wrap: balance;
	user-select: none;
	font-size: 1.1em;
	background-color: var(--prompt-color);
	box-shadow: 0 0 1em hsl(0deg 0% 0% / 60%);
	display: grid;
	grid-template-rows: 1fr auto;
	height: fit-content;
	margin: auto;

	&[open] {
		animation: popIn 0.2s ease forwards;
	}

	&:focus-visible {
		outline: none;
	}

	.body {
		padding-inline: min(3em, 3vmin);
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: hsl(0deg 0% 0% / 50%);
		line-height: 1.5;
	}

	.buttons {
		display: grid;
		grid-template-columns: 1fr 1px 1fr;
		font-size: 1.1em;

		&:not(:has(.separator)) {
			grid-template-columns: 1fr;
		}

		& > button {
			padding-block: .6em;
		}
		.separator {
			width: 1px;
			height: 60%;
			background-color: var(--separator);
			align-self: center;
		}
	}
}

@keyframes popIn {
	from { opacity: 0; transform: translateY(-10px); }
	to { opacity: 1; transform: translateY(0); }
}